:root{
    --primary: #4CAF50;
    --accent: #2196f3;
    --danger: #ff5252;
    --bg: #0f111a;
    --card: #1c1f2b;
    --text:#e0e0e0;
    --ncol: #4caf50;
    --pcol: #2196f3;
    --kcol: #ffeb3b;
}

body{
    background:var(--bg);
    background: radial-gradient(circle,rgba(14,14,51,1) 0%, rgba(0,0,0,1) 100%);
    color:var(--text);
    font-family:"Fauna One",sans-serif;
}

#title{
    font-size: 120px;
    text-align:center;
}
#t2{
    font-size: 26px;
    text-align:center;
}
#title:hover{
    color:#FFFFFF;
}
#t2:hover{
    color:#FFFFFF;
}
hr{
    border:2px white solid;
}
.bento{
    background-color:var(--card);
    border: 1px solid #30363d;
    border-radius: 8px;
    color:var(--text);
    max-width:500px;
    width:100%;
    padding:10px;
    margin-left:10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
.bentwo{
    background-color:var(--card);
    border: 1px solid #30363d;
    border-radius: 8px;
    color:var(--text);
    max-width:500px;
    width:100%;
    padding:10px;
    margin-left:10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
#t4{
    font-size: 26px;
    text-align:center;
    border-bottom:2px solid #4CAF50;
}
.intro{
    margin: 10px;
    font-size:20px;
}
.container{
    display:flex;
    justify-content:center;
}
.control{
    margin-bottom: 20px;
}
label{
    display:black;
    font-weight:bold;
    margin-bottom:8px;
    color:var(--text);
}
.slide{
    width:100%;
    cursor:pointer;
    accent-color:#4CAF50;
}

.pi{
    width:100%;
    cursor:pointer;
    accent-color:var(--pcol);
}
.ni{
    width:100%;
    cursor:pointer;
    accent-color:var(--ncol);
}
.ki{
    width:100%;
    cursor:pointer;
    accent-color:var(--kcol);
}

.bar-bg{
    border: 1px solid #30363d;
    background:#000;
    height:25px;
    border-radius:15px;
    overflow:hidden;
    position:relative;
}
.bar-fill{
    height:100%;
    transition: width 0.2s ease;
}

.gcont{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin-top:20px;
}

.value-display{
    font-size:0.9rem;
    color:var(--text);
    float:right;
}

.intro2{
    width: 89%;
    justify-content:center;
    text-align:center;
}

#status{
    margin-top:30px;
    padding:15px;
    border-radius:8px;
    background:#1E1E33;
    border-left:5px solid #4CAF50;
    min-height:60px;
    transition:all 0.3s ease;
}
#bstat{
    margin-top:30px;
    padding:15px;
    border-radius:8px;
    background:#1E1E33;
    border-left:5px solid #4CAF50;
    min-height:60px;
    transition:all 0.3s ease;
}
.action-text{
    font-weight:600;
    color:#309638;
    margin:0;
}
.warning{
    background:#FF0E06;
    border-left-color:#ff9800 !important;
}
.warning .action-text{
    color:#e65100;
}

.critwarn{
    background: #E8B0B0;
    border-left-color:#FF0E06 !important;
}

.critwarn .action-text{
    color: #BA3232;
}
#log-panel{
    background:#1e1e1e;
    color:#dcdcdc;
    padding:1.5rem;
    border-radius: 15px;
    width:100%;
    max-width:550px;
    font-family:'Consolas','Monaco',monospace;
    font-size:0.85rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: block;
    margin:10px;
    border: 1px solid #30363d;
}
.log-header{
    color: #4CAF50;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
}
#log-content{
    height:200px;
    overflow-y: auto;
    display:flex;
    flex-direction: column-reverse;
}
.log-entry{
    margin-bottom:8px;
    line-height:1.4;
    border-left: 2px solid #444;
    padding-left:10px;
}
.log-time{
    color:#888;
    font-weight:bold;
    margin-right:8px;;
}
.log-change{
    color:#569cd6
}
